<div class="openerContainer">
    <div class="openerHeaderContainer" [ngStyle]="{'background-image': 'url(' + CoverImage + ')'}">
        <div class="openerHeader">
            {{Title}}
        </div>
    </div>
</div>

<div class="openerBreadcrumb">
    <div class="breadcrumb">
        <div class="breadcrumbItem" (click)="_cs.changePage('Home','Home')">Home</div>
        <div class="breadcrumbDevider">|</div>
        <div class="breadcrumbItem" (click)="_cs.changePage('/Home','Services')">Services</div>
        <div class="breadcrumbDevider">|</div>
        <div class="breadcrumbItem">{{Title}}</div>
    </div>
</div>

<div class="cards-container doodleBackground">
    <div class="cardsInnerContainer">
        <div nz-row>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" class="GridCol"
                *ngFor="let innerService of currentInnerServices">
                <div class="cardContainer">
                    <div class="cardInnerContainer" (click)="cardClicked(innerService)">
                        <div class="cardImageContainer"
                            [ngStyle]="{'background-image': 'url('+innerService['Image Link']+')'}">

                        </div>
                        <div class="cardDataContainer">
                            <div class="cardTitle"><span [innerHTML]="_cs.getRenderedHtml(innerService.Title)"></span>
                            </div>
                            <div class="cardSubtitle"><span
                                    [innerHTML]="_cs.getRenderedHtml(innerService['Inner Service Code'])"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sectionContainer">
    <app-footer-new></app-footer-new>
</div>