<div class="product-grid-container">
  <div class="card-container" *ngFor="let data of productGridData" (click)="cardClicked(data)">
    <div class="card-header-container">
      <div><span [innerHTML]="_cs.getRenderedHtml(data.headOne)"></span></div>
      <div><span [innerHTML]="_cs.getRenderedHtml(data.headTwo)"></span></div>
    </div>
    <div class="card-image-container">
      <img [width]="mainWidth" [ngStyle]="{'border-radius': borderRadius}" [height]="mainHeight" [src]="data.imageLink" class="card-image">
    </div>
    <div class="card-footer-container">
      <div class="card-title"><span [innerHTML]="_cs.getRenderedHtml(data.title)"></span></div>
    </div>
  </div>
</div>
