<div class="product-grid-container">
  <div class="card-container" *ngFor="let data of productGridData" (click)="cardClicked(data)">
    <div class="card-header-container">
      <div>{{data.headOne}}</div>
      <div>{{data.headTwo}}</div>
    </div>
    <div class="card-image-container">
      <img [width]="mainWidth" [ngStyle]="{'border-radius': borderRadius}" [height]="mainHeight" [src]="data.imageLink" class="card-image">
    </div>
    <div class="card-footer-container">
      <div class="card-title">{{data.title}}</div>
    </div>
  </div>
</div>
