<div class="navBarContainer">
  <app-navbar></app-navbar>
</div>
<div class="routerContainer" id="routerContainer"
  onscroll="document.getElementById('onScrollCallerButton').click(); document.getElementById('onScrollCallerButtonForWebsite').click()"
  [style.fontFamily]="FontData['ALL']">
  <router-outlet></router-outlet>
</div>
<div class="ScrollToTopContainer">
  <app-scroll-to-top></app-scroll-to-top>
  <app-whats-app-button style="cursor: pointer;" *ngIf="this.footerData"
    (click)="OpenWhatsapp()"></app-whats-app-button>
</div>

<div id="loaderContainer">
  <nz-spin nzSimple></nz-spin>
</div>

<gs-modal [showModal]="showContactUsModal" [showFooter]="false" (closeModal)="hideContactUsModal($event)"
  modalWidth="1200px" modalHeight="600px" modalBackgroundColor="#00000066">
  <div header>Get Your Quote For - <span id="quoteSpan"></span></div>
  <div content>
    <div class="contactUsFormContainer">
      <div class="contactUsInnerFormContainer">
        <app-contact-us-form></app-contact-us-form>
      </div>
    </div>
  </div>
</gs-modal>

<button (click)="ShowContactUsModal()" id="ShowContactUsModalBTN" style="display: none;"></button>
<button (click)="ScrollForWebsiteName()" id="onScrollCallerButtonForWebsite" style="display: none;"></button>

<div class="jandhNameContainerHome" #jandhNameContainerHome>
  J and H Textiles
</div>