<nz-carousel nzAutoPlay class="carousel-tag">
  <div *ngFor="let data of homeCarouselData" nz-carousel-content class="carousel-content" [ngStyle]="{'background-image': 'url('+ data.image +')'}">
    <div class="carousel-content-data">
      <div class="header">
        BEST OFFER FOR YOU
      </div>
      <div class="Title">
        {{data.header}}
      </div>
      <div class="ButtonContainer">
        <button nz-button nzType="primary" (click)="_cs.changePageOnlyRoute('/Products/2')">EXPLORE NOW</button>
      </div>
    </div>
  </div>
</nz-carousel>
