<nz-carousel nzAutoPlay class="carousel-tag">
  <div *ngFor="let data of homeCarouselData" nz-carousel-content class="carousel-content" [ngStyle]="{'background-image': 'url('+ data.image +')'}">
    <div class="carousel-content-data">
      <div class="header">
        <span [innerHTML]="_cs.getRenderedHtml(data.subHeading)"></span>
      </div>
      <div class="Title">
        <span [innerHTML]="_cs.getRenderedHtml(data.header)"></span>
      </div>
      <div class="ButtonContainer">
        <button nz-button nzType="primary" (click)="exploreNowClicked(data)">EXPLORE NOW</button>
      </div>
    </div>
  </div>
</nz-carousel>
