.GridRow{
    padding: 8px;
}

.GridCol{
    height: max-content;
    color: black;
    padding: 8px 8px;
}

.InnerGridCol{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in-out;
    position: relative;
}

.InnerGridCol:hover{
    scale: 105%;
}

.InnerGridData{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffffbf;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(240, 240, 240);
}

.InnerGridLinkIcon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffffbf;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
}

.InnerGridData .title{
    font-size: 21px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
    color: #000000 !important;
}

.InnerGridData .showMore{
    padding-top: 5px;
    text-decoration: underline;
}