<div nz-row class="GridRow">
    <div *ngFor="let data of homeGridData" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" class="GridCol">
        <div class="InnerGridCol" [ngStyle]="{'background-image': 'url(' + data.image + ')'}">
            <div class="InnerGridData">
                <div class="title">{{data.header}}</div>
                <div class="showMore">
                    <span style="cursor: pointer;">Show More</span>
                </div>
            </div>
        </div>
    </div>
</div>