<div class="verticalCardsContainer">
  <div nz-row [nzGutter]="{ xs: 0, sm: 0, md: 24, lg: 32 }">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" *ngFor="let data of makeToOrderData">
      <div class="card">
        <div class="card-image" [ngStyle]="{'background': 'url(' + data.Image + ')'}">

        </div>
        <div class="card-data">
          <div class="card-header">
            {{data.Title}}
          </div>
          <div class="card-content">
            {{data.Description}}
          </div>
          <div class="card-footer">
            <button class="card-button">{{data.ButtonName}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
