.modal-container{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  overflow: hidden;
  max-width: 95vw;
  max-height: 95vh;
}

.modal-back{
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
}

.modal-back.show{
  pointer-events: auto;
  opacity: 1;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 0px 10px;
}

.modal-footer{
  border-top: 1px solid grey;
  padding: 0px 10px;
}

.modal-content{
  padding: 0px 10px;
}

.modal-closeButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5%;
  max-width: 50px;
}

.modal-inner-header{
  width: 95%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.modal-closeButtonContainer svg{
  height: 100%;
  width: 100%;

  max-width: 20px;
  max-height: 20px;
}
