<div class="sectionContainer" id="Home">
  <app-home-carousel [homeCarouselData]="homeCarouselData"></app-home-carousel>
</div>

<div class="sectionContainer aboutUsContainer" id="AboutUs">
  <div class="aboutUsDataContainer">
    <div class="aboutUsHeader">About Us</div>
    <div class="aboutUsContent">
      {{aboutUsData.AboutUs}}
    </div>
    <div class="readMoreButtonContainer">
      <button nz-button nzType="primary">Read More</button>
    </div>
  </div>
  <div class="aboutUsImageContainer hideBefore800">
    <img [src]="aboutUsData.Image" class="aboutUsImage">
  </div>
</div>

<div class="sectionContainer" id="Products">
  <div class="sectionsTitle">Products</div>
  <app-home-grid [homeGridData]="productGridData"></app-home-grid>
</div>

<div class="sectionContainer" id="Services">
  <div class="sectionsTitle">Services</div>
  <app-home-grid [homeGridData]="serviceGridData"></app-home-grid>
</div>

<div class="sectionContainer">
  <app-vertical-cards [makeToOrderData]="makeToOrderData"></app-vertical-cards>
</div>

<div class="sectionContainer contactUsFormContainer" id="QuoteNow">
  <div class="contactUsHeader">
    Quote Now
  </div>
  <app-contact-us-form></app-contact-us-form>
</div>

<div class="sectionContainer">
  <app-footer [footerData]="footerData"></app-footer>
</div>
